:root {
	background-color: black;
}

html,
body {
	height: 100%;
	margin: 0;
	max-height: 100%;
	overflow: hidden;
	font-family: monospace;
	color: white;
}

body {
	display: flex;
}

.app {
	flex: 1;

	padding: 16px;

	display: flex;
	flex-direction: column;
	gap: 16px;

	position: relative;
}

.app .box {
	padding: 8px;
	border: solid white 3px;
}

.app .title h1 {
	font-size: 24px;
	margin: 0;
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */
}

.app .story-screen {
	flex: 1;
	overflow-y: scroll;

	display: flex;
	flex-direction: column;
	gap: 16px;
}

.app .story-screen p {
	font-size: 16px;
	margin: 0;
}

.app .verb-screen {
	display: grid;

	grid-template-columns: repeat(auto-fit, 100px);

	gap: 8px;

	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */
}

.app .verb-screen .btn {
	font-size: 20px;
	justify-self: center;
}

.app .notification-box-outer {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	pointer-events: none;

	display: flex;
	justify-content: center;
}

.app .notification-box-outer .notification-box {
	width: min(100vw, 500px);
	height: 100%;
	padding: 8px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.app .notification-box-outer .notification-box .notification {
	--overlay-percent: 0%;
	--transition-time: 10000ms;

	padding: 8px;
	left: 0%;

	background-color: black;
	border: solid white 2px;

	pointer-events: all;
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */

	cursor: pointer;

	font-weight: 600;
	font-size: 16px;

	position: relative;
}

.app .notification-box-outer .notification-box .notification::after {
	content: "";
	background-color: #ffffff2a;

	top: 0;
	left: 0;
	bottom: 0;

	width: var(--overlay-percent);

	position: absolute;

	transition: linear var(--transition-time);
	transition-property: left width opacity;
}

.app .notification-box-outer .notification-box .notification.error {
	border-color: #fc6c6c;

	background-color: #330000;

	color: #fcb1b1;
}

.app .notification-box-outer .notification-box .notification.error::after {
	background-color: #ff00002a;
}

.app .btn {
	text-decoration: underline;
	text-wrap: nowrap;
	padding: 4px;
}

.app .btn[selectableState="selectable"] {
	font-weight: bold;
	color: #6ca3fc;
	cursor: pointer;
}

.app .btn[selectableState="selected"] {
	font-weight: bold;
	color: #fcf56c;
	cursor: pointer;
}

.app .btn[selectableState="disabled"] {
	text-decoration: none;
	color: #bbbbbb;
}

@media (max-width: 800px) {
	.app {
		padding: 8px;

		gap: 8px;
	}

	.app .box {
		padding: 6px;
		border: solid white 2px;
	}

	.app .title h1 {
		font-size: 16px;
	}

	.app .story-screen {
		line-height: 20px;

		gap: 8px;
	}

	.app .story-screen p {
		font-size: 12px;
	}

	.app .verb-screen {
		gap: 4px;
	}
	.app .verb-screen .btn {
		font-size: 16px;
	}

	.app .notification-box-outer .notification-box .notification {
		font-size: 12px;
	}
}
